---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$spacing-unit:     30px;
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$media-sm:          600px;
$media-md:        800px;
$media-lg: 			1200px;



// Using media queries with like this:
// @include media-query($media-sm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "type",
        "base",
        "layout",
        "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic);