---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

$spacing-unit:     50px;

//Colors
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #1893E7;
$brand-secondary: #FFBB66;
$grey-1: #F7F7F7;
$grey-2: #91A4AD;
$grey-3: #617D8A;
$grey-4: #3B4C54;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$media-sm:          600px;
$media-md:        800px;
$media-lg: 			1200px;



// Using media queries with like this:
// @include media-query($media-sm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "type",
        "base",
        "layout",
        "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic,900);
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);

